body {
  background-color: #282828;
  color: #f9f9f9;
}

.container {
  padding-top: 15px;
}

.jigsaw-piece {
  padding: 0.5px;
  width: 100%;
  z-index: 500;
}

.jigsaw-piece.ui-draggable-dragging {
  box-shadow: 0 0 20px rgba(0, 0, 0, .8);
  transition: box-shadow .2s;
  z-index: 1000;
}

#puzzle-working-area .row .col-md-3 {
  border: 1px solid #f9f9f9;
}

.jigsaw-space {
  padding: 0;
}

.jigsaw-drop-space {
  border: 0.5px solid #f3f3f3;
}

.jigsaw-space-holder {
  width: 100%;
  margin: 0;
  padding: 0;
  visibility: hidden;
}

#jigsaw-complete, #jigsaw-complete-video {
  display: none;
}